<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"   th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet"   th:href="@{/assets/plugins/datTables/datatables.css}">
    <title>Aware</title>
</head>
<body>


<div>
    <table id="aware" class="table table-bordered"></table>
</div>



<h1>Hello Aware</h1>
<h1>Salom Barchaga</h1>








<script th:src="@{/assets/js/jQuery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/aware.js}"></script>
<script th:src="@{/assets/plugins/datTables/datatables.js}"></script>
</body>
</html>